<!DOCTYPE html>

{% load staticfiles %}
<!--{load GameRate_template_tags %}-->

<html lang="en">

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <title>
            GameRate -
            {% block title_block %}
                <!-- page title goes here -->
            {% endblock %}
        </title>
    
    </head>

    <body>
        
        <div>
            {% block header_block %}
                <img src="{% static 'images/controller.PNG' %}"
                alt="GameRate logo" />
            {% endblock %}
        </div>

        <div>
            {% block sidebar_block %}
                <!-- Sidebar and categories links go here -->
            {% endblock %}
        </div>

        <div>
            {% block body_block %}
                <!-- page content goes here -->
            {% endblock %}
        </div>

        <div>
            {% block footer_block %}
                <!-- footer goes here-->
            {% endblock %}
        </div>

    </body>

</html>