{% extends 'gamerate/base.html' %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
{% if registered %}
<strong>thank you for registering!</strong>
{% else %}
<register>
    <strong>Register here!</strong><br>
    <form id="user_form" method="post" action="{% url 'gamerate:register' %}"
          enctype="multipart/form-data">
        {% csrf_token %}
        <br> <br>
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register" />
    </form>
</register>
{% endif %}
{% endblock %}
